	<div class="row episode-slide">
		<div class="slide-image">
			<img src="{{seriesPoster}}" alt="{{seriesName}}" class="img-responsive" />
		</div>
		<div class="slide-copy">
			<h4 class="bright">
				<span class="title">{{seriesName}}</span>
				<span class="info">{{seString}}</span>
			</h4>
			<h5 class="bright">{{episodeName}}</h5>
			<div class="overview-box">
				<p class="light">{{episodeDescription}}</p>
				<p class="read-more">&nbsp;</p>
			</div>
			
		</div>
	</div>
